<ion-header color="light">
    <ion-navbar color="light">
        <ion-title>
            生活服务
        </ion-title>
        <ion-buttons end *ngIf="detail.member_id==service.LoginUserInfo.member_id">
            <button ion-button (tap)="delLife()" style="font-size: 1.4rem;color: red;">
                删除
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="box" style="padding-top: 1rem;">
        <div class="box-content">
            <div class="box-row">
                <div class="box-row-icon">
                    <img src="{{service.ctxPath+detail.icon}}" onerror="this.src='assets/imgs/img404.png'">
                </div>
                <div class="box-row-content">
                    <div class="box-row-text">
                        <span style="font-weight: 500;font-size: 1.4rem;">{{detail.member_name}}</span>
                        <span style="float:right;">{{detail.create_time}}</span>
                    </div>
                </div>
            </div>
            <div class="box-row-after" style="padding: 0 4vw;">
                <h4 style="margin-top: .5rem;">{{detail.title}}</h4>
                <p>{{detail.content}}</p>
                <div class="img-list" *ngIf="detail.img_path">
                    <img src="{{service.ctxPath+img}}" *ngFor="let img of detail.img_path.split(',')" (click)="imgBig(this)">
                </div>
                <div *ngIf="!detail.img_path" style="height: 2rem;width: 100%;">
                </div>
                <div class="box-row-after-bottom">
                    <label>
                        <i class="icon iconfont icon-xiaoxi"></i>
                        <span>{{detail.commentnum}}</span>
                    </label>
                    <label (click)="likeClick();" [ngStyle]="{'color':detail.count==1?'red':''}">
                        <i class="icon iconfont icon-iconfontzhizuobiaozhun023148"></i>
                        <span>{{detail.likednum}}</span>
                    </label>
                </div>
            </div>
            <div class="comment">
                <div *ngFor="let c of detail.wyLifeSerivceCommentList">
                    <div class="box-row">
                        <div class="box-row-icon">
                            <img src="{{service.ctxPath+c.user_icon}}" onerror="this.src='assets/imgs/img404.png'">
                        </div>
                        <div class="box-row-content">
                            <div class="box-row-text">
                                {{c.user_name}}
                                <span style="float:right;">{{c.create_time}}
                                    <i class="icon iconfont icon-shanchu" style="font-size: 1.8rem;margin-left: 5px;color: #c34b0b;" *ngIf="service.LoginUserInfo.member_id==c.user_id"
                                        (click)="delComment(c.id)"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="box-row-after">
                        <p>{{c.content}}</p>
                    </div>
                </div>
                <div *ngIf="!detail.wyLifeSerivceCommentList || detail.wyLifeSerivceCommentList.length==0">
                    <img src="assets/imgs/not-review.png" style="width: 50vw;margin: 5vh 25vw">
                </div>
            </div>
        </div>
    </div>

</ion-content>
<div id="imgBig" style="display: none">
        <ion-slides pager *ngIf="imgBigs && imgBigs.length>0">
            <ion-slide *ngFor="let img of imgBigs">
                <img src="{{service.ctxPath+img}}" onload="imgLoad(this)">
            </ion-slide>
        </ion-slides>
    </div>
<ion-footer>
    <ion-toolbar>
        <div class="write-commtent">
            <input type="text" [(ngModel)]="comment_content" placeholder="写评论">
            <span (tap)="sendComment()">发送</span>
        </div>
    </ion-toolbar>
</ion-footer>