page-nkcx {
  .box-row-content{
    width: 100vw;
  }
  .box-row-text{
    font-weight: 500;
  }
  .box-row-time.end{
    color: #ccc
  }
  .box-row-time.comments{
    color: red
  }
  .box-row-text p{
      margin: .5rem 0
  }
}
  