page-tsxxd {
  .detail{
    padding: 0 5vw 5vw 5vw;
  }
  .detail-title{}
  .detail-row{    
    display: flex;
    width: 90vw;
    height: 2rem;
    line-height: 2rem;
  }
  .detail-content{
    margin-top: 1rem;
  }
  .detail-text{
    text-align: justify;
    margin-bottom: 1rem;
  }
  .detail-img{}
}
  