<ion-header color="light">
    <ion-navbar color="light">
        <ion-title>
            园区活动
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="正在刷新">
        </ion-refresher-content>
    </ion-refresher>
    <div class="box" style="padding-top: 1rem;" *ngIf="data && data.length>0">
        <div class="box-content">
            <div class="box-row" *ngFor="let d of data" (tap)="toYuanQuHuoDongDetail(d.id)">
                <div class="box-row-content">
                    <div class="box-row-text">
                        <p [ngClass]="{'activity-end':d.activity_end}">
                            <img width="100%" src="{{service.ctxPath+d.cover_small}}">
                        </p>
                        <p>活动时间：{{d.start_time}} 至 {{d.end_time}}</p>
                        <p>地&emsp;&emsp;址：{{d.address}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box" *ngIf="!data || data.length==0">
        <img src="assets/imgs/not-content.png" style="width: 50vw;margin: 20vh 25vw">
    </div>
    <!--下滑的时候，加载数据-->
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载数据..." *ngIf="scrollShow">
        </ion-infinite-scroll-content>
        <ion-infinite-scroll-content loadingSpinner="false" loadingText="已经到底了" *ngIf="!scrollShow">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>